<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns     	= "http://www.w3.org/ns/widgets"
        xmlns:gap 	= "http://phonegap.com/ns/1.0"
        id        	= "com.rickmitchell.splash"
		versionCode = "1"
        version   	= "1.0.0">

    <name>Splash and Icon</name>

    <description>
        Extends a simple mobile app with a splash screen and with an icon and with some additional jQuery page features
    </description>

    <author href="http:www.cisatnec.org/mobile" email="rmitchell1@nec.edu">
        Rick Mitchell
    </author>

    
    <!-- Define app icon for each platform. -->
    <icon src="icon.png" />
    

	<!-- Define ap defalut splash screen for each platform. -->
    <gap:splash src="images/splash.png" /> 
	 
    

</widget>
